body{
    background-color: rgb(58 105 136 / 80%);
    background-image: linear-gradient(to right, rgb(58 105 136 / 80%), rgb(116 144 162 / 59%));
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    cursor: none;
}

.head{
    justify-items: initial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 10px;
    margin-left: 240px;
}



li{
    display: inline;
    font-size: 24px;
    color:#f7efff;
    margin-right: 15px;
}

.intro{
    margin-top: 40px;
    margin-bottom: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.intro p{
    font-size: 35px;
}

a{
    text-decoration: none;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: capitalize;
}

main h2{
    font-size: 50px;
    color: rgb(215 197 65);
}

img{
    margin: 0 auto;
    width: 85%;
}

.item img{
    position: relative;
    display: inline-block;
    border-radius: 70%;
}

.item img:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-out;
    border-radius: 0%;
}

.item img:hover::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    animation: photo 0.3s ease-out;
}

@keyframes photo{
    from {width: 0;
    height: 0;}
    to {width: 100%;
    height: 100%;}
}

.item p{
    text-align: left;
    font-size: 18px;
    margin-left: 50px;
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.item h3{
    text-align: center;
    font-size: 28px;
    color: aliceblue;
    margin-bottom: 15px;
}

header p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 23px;
}

.item{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 38px;
    text-align: center;
}

h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(67, 76, 130);
    text-decoration: underline;
}

h4{
    font-size: 18px;
    text-transform: uppercase;
    color: #FCFFE7;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 50px;
}

.fa-star-and-crescent:before {
    content: "\f699";
    color: #FCFFE7;
    margin-right: 10px;
}

.about{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
}

.me{
    margin-right: 20px;
    margin-top: 70px;
}

.footer p{
    color:#FCFFE7;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    margin-left: 50px;
    margin-top: 10px;
}

.footer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
    /* margin-top: 5px; */
}

.social{
    text-align: right;
    margin-right: 60px;
    color:#FCFFE7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
}
.social i{
    width: 70px;
    font-size: 30px;
    margin-top: 10px;
}


.about img{
    width: 60%;
    border-radius: 80%;
}

.me h3{
    text-transform: uppercase;
    font-size: 34px;
    margin-bottom: 10px;
    text-align: left;
}

.me p{
    font-size: 20px;
    text-align: left;
    margin-right: 90px;
}

.resume{
    margin-bottom: 60px;
}

.resume h3{
    text-align: center;
    font-size: 30px;
    color: rgb(207, 207, 207);
    margin-top: 10px;
}

.resume p{
    margin: 5px 150px 0 150px;
    text-align: center;
    font-size: 20px;
}

.fa-face-smile-wink:before, .fa-smile-wink:before {
    content: "\f4da";
    color: rgb(231, 214, 121);
}

#myBtn{
    font-size: 24px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
    text-align: right;
    background-color: #9f686e;
    color: #f7efff;
}

.logo {
	animation: logo 4s;
	position: relative;
    width: 60%;
    margin-left: -80px;
}

@media (prefers-reduced-motion: reduce) {
    .logo {
        animation: none;
    }
}

@keyframes logo {
	0% {
		transform: rotate(0deg);
		left: 0px;
	}
	25% {
		transform: rotate(10deg);
		left: 0px;
	}
	50% {
		transform: rotate(0deg);
		left: 300px;
	}
	55% {
		transform: rotate(0deg);
		left: 300px;
	}
	70% {
		transform: rotate(30deg);
		left: 300px;
	}
    85% {
		transform: rotate(-180deg);
		left: 0px;
	}
	100% {
		transform: rotate(-360deg);
		left: 0px;
        color:#FCFFE7;
	}
}

.checkbtn{
	font-size: 20px;
	color: #FCFFE7;
	float: right;
	line-height: 80px;
	margin-right: 0;
	cursor: pointer;
	display: block;
    margin-left: 350px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.skip{
    background-color: #181818;
    color: #ffffff;
    position: absolute;
    padding: 1em;
    z-index: 999;
    font-size: 12px;
    transform: translateX(-120%);
}

.skip:focus{
    transform: translateX(0);
}

.cursor {
    width: 20px;
    height: 20px;
    border: 2px solid rgb(235, 235, 152);
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    pointer-events: none;
}

.about-body{
    background-color: #b51515;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Times New Roman', Times, serif;
  }

input[type=submit] {
    background-color: #902d22;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #6095e0;
  }
  
  .container2 {
    border-radius: 5px;
    background-color: #000000b1;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }

h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: #cfc365;
}

@media screen and (min-width: 780px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
    .li{
        margin-right: 25px;
    }
    .about img{
        width: 75%;
        border-radius: 70%;
    }
}

@media screen and (min-width: 1280px){
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .li{
        margin-right: 35px;
    }
    .about img{
        width: 85%;
        border-radius: 80%;
    }
}

#audio-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  #play-btn, #pause-btn {
    font-size: 30px;
    color: #333;
    margin: 0 10px;
    cursor: pointer;
  }

  #pause-btn {
    display: none;
  }

  h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    margin-top: 5px;
  }

.video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -220px;
}

.video{
    max-width: 90%;
    max-height: 90%;
}

figcaption{
    text-align: center;
    color:rgba(255, 255, 255, 0.8)
}

.video-container{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
}

.video{
    justify-items: center;
}